#workTogether {
  text-align: center;
  padding: 90px 0;
  background-color: #003072;
  h1 {
    font-size: 38px;
    color: #fff;
    line-height: 60px;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    color: #fff;
  }
  a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 21px 50px;
    background-color: #316ec2;
    margin-top: 30px;
  }
}
